body {
  padding: 0;
  margin: 0px;
  background: black;
}

canvas {
  margin: auto;
  display: block;
}

#main-container {
  text-align: center;
  display: block;
  margin: auto;
}

.container {

}

#settings-container {
  display: none;
}

#livefeed-container {
  background: black;
  visibility: hidden;
}
